services:
    App\EventSubscriber\EntitySavedEventSubscriber: ~
    App\EventListener\EntitySavedListener: ~

    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'

    App\State\UserPasswordHasher:
        arguments:
            $processor: '@api_platform.doctrine.orm.state.persist_processor'
